﻿body {
}

.headerStyle {
width:100%;
float:right;
}
side-menu.left {
    position: absolute;
    top: 95px;
    left: 25px;
}

body.fixed-left .side-menu.left {
    margin-top: 10px;
    bottom: 30px;
}

.side-menu.left {
    position: absolute;
    top: 30px;
    left: 50px;
}

.profile-info .text-success {
    color: #fed73b;
    margin-right: 3px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-circle:before {
    content: "\f111";
}
.loginTextBox-Password-PaddingTop {
padding-top:5px;
}

.padding-bottomcss {
padding-bottom:5px;
}

